body{
    font-size:50px;
    text-align:center;
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJz7S7BjzpOARWi0IsHKjcg5PFn9fgC7VZWw&usqp=CAU);
    color:#003C5F;
}
img{
    height:65%;
    width:65%;  
    border:20px solid;
    color:#87CEEB;
}
